<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Holding Page</title>
    </head>
    <body>
        <header>
            <h1>Vagrant : Holding page</h1>
        </header>
        <section>
            <article>
                <p>If you are seeing this page then you have set up the Vagrant Laravel box correctly.</p>
                <?php print phpinfo(); ?>
            </article>
        </section>
    </body>
</html>
